.panel {
  justify-self: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 10vw;
  padding-right: 10vw;
}
w {
  font-size: 52px;
  color: #242424;
}
d {
  font-size: 22px;
  color: #333;
}
