* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.panel {
  justify-self: center;
  vertical-align: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(7px);
  border-radius: 15px;
  padding-left: 10vw;
  padding-right: 10vw;
  max-width: 80vw;
}
w {
  font-size: 52px;
  color: #242424;
}
d {
  font-size: 22px;
  color: #242424;
}
