* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

x {
  color: #ff4747;
  font-weight: bolder;
  font-size: larger;
}
header {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#title {
  margin: 20px;
  color: #333;
}
nav {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#welcome-section {
  padding: 40px;
  text-align: center;
  background-color: #ffe9e9;
}