@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Cookie&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #f6efd2;
}

x {
  font-family: "Cookie", sans-serif;
  color: #ff4747;
  font-weight: bolder;
  font-size: larger;
}
header {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  background-color: #f8f8f8; /*Just to check the height of the header*/
}

#title {
  font-family: "Cookie", sans-serif;
  font-size: 3rem;
  padding: 0 15px;
  margin: 20px;
  color: #333333;
}
nav {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#welcome-section {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background-color: #e7e6e6;
}
.panel {
  position: relative;
  height: max-content;
  width: 90%;
  justify-self: center;
  background-color: #fff;
}
#welcome-section::after {
  content: "";
  position: relative;
  height: 100%;
  background-color: #333;
  width: 100%;
}
