@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Cookie&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  background-color: #f6efd2;
}
x {
  font-family: "Cookie", sans-serif;
  color: #e43636;
  font-weight: bolder;
  font-size: larger;
}
header {
  background-color: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(7px);
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.299) 0 0 10px 1px;
  width: 100vw;
  overflow: hidden;
}

#title {
  font-family: "Cookie", sans-serif;
  font-size: 3rem;
  padding: 0 15px;
  margin: 20px;
  cursor: pointer;
  color: #333333;
  text-shadow: #ffffff 1px 1px 0px;
}
nav {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  color: #e43636;
  font-size: large;
  text-shadow: #00000033 1px 1px 2px;
}
#backdrop {
  position: absolute;
  width: 100vw; /* Set the desired width for the cropped area */
  height: auto; /* Set the desired height for the cropped area */
  justify-self: center;
  z-index: -1;
  :root {
    --height: 100%;
  }
}
main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.299) 0 0 10px 1px;
  overflow: hidden;
}

#welcome-section {
  text-align: center;
  position: relative;
}
.separation {
  height: 10px;
}

.panel::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 100px);
  left: calc(var(--x, 0) * 1px - 100px);
  width: 200px;
  height: 200px;
  background: radial-gradient(white, #00000000 60%);

  opacity: 0;
  transition: opacity 0.2s;
}

.panel:hover::after {
  opacity: 0.4;
}

header::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 100px);
  left: calc(var(--x, 0) * 1px - 100px);
  width: 200px;
  height: 200px;
  background: radial-gradient(white, #00000000 60%);

  opacity: 0;
  transition: opacity 0.2s;
}

header:hover::after {
  opacity: 0.4;
}
