@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Cookie&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #F6EFD2;
}
x {
  font-family: "Cookie", sans-serif;
  color: #E43636;
  font-weight: bolder;
  font-size: larger;
}
header {
  background-color: #E2DDB4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
}

#title {
  font-family: "Cookie", sans-serif;
  font-size: 3rem;
  padding: 0 15px;
  margin: 20px;
  cursor: pointer;
  color: #333333;
}
nav {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}
li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  color: #E43636;
  font-size: large;
}
